/**/*.iml
/**/.idea/
/contaclienteccs/target/**/
/cliente-ccs/target/**/
/cliente-ccs/target/
/contaclienteccs/target/
/contaclienteccs/target
/cliente-ccs/target
/transacaoccs/target
/transacaoccs/target/
/transacaoccs/target/**/
/**/build/
/**/.gradle/
/**/out/
/**/.kotlintest/
.idea/workspace.xml
.settings
.classpath
.project
.metadata
.vscode
*.eml
bin
junit.log
nb-configuration.xml
setup
rebel.xml
docs/
.swp
libpeerconnection.log
.zz_ramdrive_initiated
.zz_ramdrive_sync_is_running
*.ant-targets-build.xml
.sonar_lock
.class
/**/__pycache__/