/**/*.iml
/**/.idea/
/**/target/
/**/build/
/**/.gradle/
/**/out/
/**/.kotlintest/
.settings
.classpath
.project
.metadata
.vscode
*.eml
bin
junit.log
nb-configuration.xml
setup
rebel.xml
docs/
.swp
libpeerconnection.log
.zz_ramdrive_initiated
.zz_ramdrive_sync_is_running
*.ant-targets-build.xml
.sonar_lock
.class
/**/__pycache__/